* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* NAVBER E MENU DO TOPO */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: transparent;
  z-index: 1000;
  padding: 1rem;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 2rem;
  padding-right: 30px;
}

.menu a {
  text-decoration: none;
  padding: 10px;
}

.menu img {
  width: 40px;
  height: auto;
  transition: 0.3s;
}

.menu img:hover{
  width: 45px;
  height: auto;
  transition: 0.3s;
}

/* ESTILO DAS SECTIONS */
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 1rem;
}


/* ESTILO DA 1ª SECTION */
.home {
  background-image: url(../img/backgroundPg01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.textos {
  margin-left: -800px;
  margin-top: 100px;
}

.nomePg01 {
  font-size: 2.2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin-left: -40px;
}

.sobrenomePg01 {
  font-size: 2.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
  margin-left: 80px;
}

.paragrafoPg01 {
  font-size: 0.4em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 5px;
  text-align: center;
}

.btnSkills {
  background-color: #f0f0f02c;
    border: 1px solid #a9a9a966;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 40px 15px 0 15px;
}

.btnSkills a{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.btnSkills:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.links img {
  width: 25px;
  margin: 40px auto;
}


/* ESTILO DA 2ª SECTION */
.skills {
  background-image: url(../img/backgroundPg02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#skills {
  height: 100vh;
  display: flex;
  justify-content: right;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: white;
  text-align: unset;
  padding: 1rem;
}

.paragrafo {
  width: 220px;
  height: 100px;
  margin-right: 100px;
  margin-bottom: 160px;
  font-family: 'Courier New', Courier, monospace;
}

.paragrafo p {
  font-size: 0.50em;
}

.paragrafo span {
  text-align: right;
}


/* ROLAGEM / MEDIA */
html {
  scroll-behavior: smooth;
}


@media (max-width: 768px) {
  .menu {
      flex-direction: column;
      gap: 1rem;
  }

  .menu a {
      font-size: 1rem;
  }
}